@import '../../../assets/scss/colors.scss';

.Home {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: darken($second, 3%);

    .mainPhoto {
        width: 100%;
        height: 20rem;
        background: url('../../../assets/photos/main2.jpg') no-repeat;
        background-position: 50% 80%;
        box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.2);

        z-index: 5;

        position: relative;

        .Add {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0.5rem;
            margin-right: 0.2rem;
            opacity: 0.5;

            color: $fifth;

            text-align: center;

            h3 {
                margin: 0 0.5rem;
            }

            h4 {
                margin: 0 0.5rem;
                font-style: italic;
                color: $fourth;
            }
        }
    }

    .PostHolder{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //background-color: darken($second, 3%);
        padding-top: 5rem;


        .updatesTitle {
            width: 100%;
            height: 5rem;
            color: $fifth;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                width: 10%;
                border-bottom: 3px solid darken($second, 5%);   
            }

            h1 {
                width: 80%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }
        }

        .Loader {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 5px solid lighten($second, 3%);
            border-bottom: none;
            border-left: none;
            border-top: none;
            border-radius: 100%;
            animation: loader 1s infinite linear;
        }

        @keyframes loader {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .Posts {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 70vh;
            opacity: 0;

            .Post {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                max-width: 30rem;
                box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
                filter: grayscale(0.3);
                margin-top: 5rem;
                margin-left: 1rem;
                margin-right: 1rem;
                height: 30rem;
                overflow: hidden;
        
        
                .photo {
                    width: 100%;
                    height: 30rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-size: cover;
        
                    .info {
                        position: absolute;
                        padding: 1rem;
                        color: $fourth;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 65%;
            
                        h1 {
                            color: $main;
                            margin: 1rem 0;
                        }
            
                        span {
                            margin: 1rem 0;
                            text-align: center;
                            max-width: 75%;
                            overflow: hidden;
                            max-height: 10rem;
                            //border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                        }
                        span::-webkit-scrollbar {
                            display: none;
                        }  

                        .actions {
                            margin: 2rem 0 ;

                            button {
                                background-color: transparent;
                                border: 3px solid $fifth;
                                padding: 0.5rem;
                                width: 8rem;
                                font-family: inherit;
                                font-weight: bold;
                                color: $fifth;
                                border-radius: 7px;
                            }
                            .CTA {
                                background-color: $fifth;
                                color: $second;
                                //margin: 0.5rem 0;
                                margin: 0 0.5rem 0.5rem 0 ;
                            }
                        }
            
                    }
                }
            }
        }
    }

    .PartnersHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 5rem 0;
        background-color: darken($second, 5%);
        color: $fifth;
        padding: 2rem 0;


        h1 {
            margin: 1rem;
        }

        ul {
            padding: 0;
            margin: 1rem;
            list-style: none;
            display: flex;
            flex-direction: row;

            li {
                margin: 0 2rem;
                font-style: italic;
                font-weight: bold;
                color: darken($second, 1%);
            }
        }
    }

}

@media screen and (min-width: 725px) {
    .Home {
        .mainPhoto {
            height: 30rem;

            .Add {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 1rem;
                margin-right: 1rem;
    
                color: $fifth;

                text-align: center;

                h3 {
                    margin: 0 0.5rem;
                }

                h4 {
                    margin: 0 0.5rem;
                    font-style: italic;
                    color: $fourth;
                }
            }
        }

        .PostHolder {
            .Posts {
                flex-direction: row;
            }
        }
    }
}