@import '../../../assets/scss/colors.scss';

.Home {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .mainPhoto {
        width: 100%;
        height: 15rem;
        background: url('../../../assets/photos/main2.jpg') no-repeat;
        background-position: 50% 80%;
        box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.37);

        z-index: 5;

        position: relative;

        .Add {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0.5rem;
            margin-right: 0.2rem;

            color: $fifth;

            text-align: center;

            h3 {
                margin: 0 0.5rem;
            }

            h4 {
                margin: 0 0.5rem;
                font-style: italic;
                color: $fourth;
            }
        }
    }

    .PostHolder{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: darken($second, 3%);
        padding: 5rem 0;


        .updatesTitle {
            color: $fifth;
        }

        .Loader {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 5px solid $fourth;
            border-bottom: none;
            border-left: none;
            border-top: none;
            border-radius: 100%;
            animation: loader 1s infinite linear;
        }

        @keyframes loader {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .Posts {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 70vh;
            opacity: 0;

            .Post {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                margin-bottom: 2rem;
                max-width: 30rem;
                box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.37);
                filter: grayscale(0.3);
                margin-top: 5rem;
                margin-left: 2rem;
                margin-right: 2rem;
                height: 30rem;
                overflow: hidden;
        
        
                .photo {
                    width: 100%;
                    height: 30rem;
                    position: relative;
                    background-size: cover;
        
                    .info {
                        position: absolute;
                        padding: 1rem;
                        color: $fourth;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 65%;
            
                        h1 {
                            color: $main;
                            margin: 1rem 0;
                        }
            
                        span {
                            margin: 1rem 0;
                            text-align: center;
                            max-width: 75%;
                            overflow: hidden;
                            max-height: 10rem;
                            //border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                        }
                        span::-webkit-scrollbar {
                            display: none;
                        }  

                        .actions {
                            margin: 2rem 0 ;

                            button {
                                background-color: transparent;
                                border: 3px solid $fourth;
                                padding: 0.5rem;
                                width: 8rem;
                                font-family: inherit;
                                font-weight: bold;
                                color: $fourth;
                                border-radius: 7px;
                            }
                            .CTA {
                                background-color: $fourth;
                                color: $second;
                                //margin: 0.5rem 0;
                                margin: 0 0.5rem 0.5rem 0 ;
                            }
                        }
            
                    }
                }
            }
        }

        .Pagination {
            width: 13rem;
            height: 3rem;
            background-color: darken($second, 0%);
            display: flex;
            justify-content: center;
            align-items: center;
            color: $fifth;
            border: 1px solid darken($second, 3%);
            margin-top: 3rem;

            span {
                width: 25%;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 1.3rem;
                cursor: pointer;
                font-family: inherit;
            }

            .pages {
                cursor: default;
                width: 50%;
                font-size: 1rem;
                font-family: inherit;
                font-weight: bold;
                border-right: 2px solid darken($second, 3%);
                border-left: 2px solid darken($second, 3%);

                input {
                    width: 10px;
                    background: transparent;
                    border: none;
                    color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: bold;
                }
            }
        }
    }

    .PartnersHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 5rem;
        background-color: darken($second, 5%);
        color: $fifth;
        padding: 2rem 0;

        display: none;

        h1 {
            margin: 1rem;
        }

        ul {
            padding: 0;
            margin: 1rem;
            list-style: none;
            display: flex;
            flex-direction: row;

            li {
                margin: 0 2rem;
                font-style: italic;
            }
        }
    }

}

@media screen and (min-width: 725px) {
    .Home {
        .mainPhoto {
            height: 25rem;

            .Add {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 1rem;
                margin-right: 1rem;
    
                color: $fifth;

                text-align: center;

                h3 {
                    margin: 0 0.5rem;
                }

                h4 {
                    margin: 0 0.5rem;
                    font-style: italic;
                    color: $fourth;
                }
            }
        }

        .PostHolder {
            .Posts {
                flex-direction: row;
            }
        }
    }
}