@import '../../assets/scss/colors.scss';

.Footer {
    width: 100%;
    height: 40rem;
    margin-top: 5rem;

    .First {
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem 1rem;
        background: url('../../assets/svg/newletter.svg') no-repeat;
        background-position: 50% center;
        background-size: 300px;
        background-color: darken($second, 5%);

        span {
            color: $fourth;
            font-size: 2rem;
            font-weight: bold;
        }

        .CAT {
            font-style: italic;
            font-size: 1rem;
            color: $fourth;
        }

        .Newsletter {
            margin-top: 5rem;
            box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.37);
            border-radius: 25px;

            input,
            button {
                padding: 1rem 1rem;
                font-family: inherit;
                border: none;
            }
            input {
                width: 7rem;
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
                color: $second;
                background-color: $fourth;
            }
            button {
                font-weight: bold;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                background-color: $second;
                color: $fifth;
            }
            input::placeholder {
                color: $second;
                font-style: italic;
                font-size: 0.7rem;
            }
            
        }
    }

    .Second {
        height: 40%;
        background-color: darken($second, 7%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $second;

        div {
            margin-top: 2rem;
            img {
                margin: 0.5rem 2rem;
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media screen and (min-width: 725px) {
    .Footer {
        .First {
            background-position: 5% center;
        }
    }
}