@import '../../../assets/scss/colors.scss';

.Shop {
    padding-top: 5rem;
    background-color: $main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Filters {
        color: $second;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 2rem 0;
        bottom: 0;
        left: 0;
        color: $second, 2%;
    }

    .PerPage {
        margin: 5rem 0;
    }

    .Right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .ProductsHolder {
            display: flex;
            justify-content: center;
            align-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            max-width: 1300px;
            min-height: 100vh;
            position: relative;

            .Loader {
                position: absolute;
                width: 50px;
                height: 50px;
                border: 5px solid $second;
                border-bottom: none;
                border-left: none;
                border-top: none;
                border-radius: 100%;
                animation: loader 1s infinite linear;
            }
        
            @keyframes loader {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
    
            .Product {
                height: 40rem;
                width: 100%;
                max-width: 25rem;
                margin-bottom: 3rem;
                background-color: darken($main, 2%);
    
                .First {
                    height: 40%;
                    background: url('../../../assets/photos/prod.png') no-repeat;
                    background-position: center center;
                    background-size: 75%;
                }
    
                .Second {
                    height: 60%;
                    padding: 0 2rem;
    
                    h1 {
                        color: $second;
                    }
    
                    span {
                        color: $second;
                    }
    
                    .Bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: $second;
    
                        h3 {
                            color: $second;
                        }

                        div {
                            // width: 55%;
                            // display: flex;
                            // justify-content: space-between;
                            // align-items: center;
                            select {
                                background-color: transparent;
                                border: none;
                                padding: 0.5rem 0.5rem;
                            }
                            button {
                                color: $second;
                                background-color: transparent;
                                font-family: inherit;
                                font-weight: bold;
                                border: 3px solid $second;
                                border-radius: 10px;
                                padding: 0.5rem 1rem;
                            }
                        }
    
                    }
                }
            }
            .Product:last-child {
                margin-bottom: 0;
            }
            
        }
    }
}

@media screen and (min-width: 725px) {
    .Shop {
        

        .Filters {
            
        }

        .Right {
            
            
            .ProductsHolder {
                max-width: 1156px;
                min-height: 75vh;
    
                .Product {
                    margin: 1rem;
                }
            }
        }
    }
}